@font-face {
  font-family: amongUsFont;
  src: url(assets/font.ttf);
}
body, html {
  height:100%;
  font-family: amongUsFont;
}

body{
  background-image: url(assets/background.jpeg);
  margin: 0px;
  font-size: 28px;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  display: flex;

  justify-content: center;
  height:32px;
}
.title{
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.floss{
  width: 25%;
  height: auto;
  border: none;
}

.wiggle{
  width: 25%;
  height: auto;
  border: none;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

.rotating {
  animation: rotate;
  animation-duration:10s;
  animation-iteration-count: infinite;
}

@keyframes resize {
  0%, 100% {transform: scale(1,1);}
  50% {transform: scale(2,2);}
}

.resizer {
 animation: resize 5s linear 0s infinite;
}