body, html{
  height:100%;
}
body{
  background-image: url(assets/background2.jpeg);
  margin: 0px;
  font-size: 18px;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  display: flex;
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.floss{
  width: 25%;
  height: auto;
  border: none;
}

.wiggle{
  width: 25%;
  height: auto;
  border: none;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

.rotating {
  animation: rotate;
  animation-duration:10s;
  animation-iteration-count: infinite;
}

@keyframes resize {
  0%, 100% {transform: scale(1,1);}
  50% {transform: scale(2,2);}
}

.resizer {
  animation: resize 5s linear 0s infinite;
}